<!DOCTYPE html>
<html>
  <head>
    <title>Buffer Links</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/enqueue.css"></link>
  </head>
  <body>

    <div class="container">
      <form class="form-enqueue" method="POST" action="/commit">
        <h2 class="form-enqueue-heading">Enqueue Content</h2>
        <textarea name="content" class="form-control" placeholder="Content" required autofocus></textarea>
        <div><input type="text" name="url" value="{{.URL}}"></div>
        <div><input type="text" name="link_title" placeholder="Link Title" required></div>
        <div><input type="text" name="link_description" placeholder="Link Description"></div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Enqueue</button>
      </form>
    </div>

  </body>
</html>
